<% include partials/header  %>


<div class="container">

<h1 class="jumbotron text-center"> macProVideo Titles </h1>

	<div class="container">

	<div class="row" style="display:flex; flex-wrap:wrap">

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Basslines.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Melody.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Harmony.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Rhythm.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Song Form.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Building Chord Progressions.jpg">
			</div>
		</div>



			<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Composing for Commercials.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Ear Training_Harmony and Chords.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Ear Training_Melodies, Intervals and Scales.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Ear Training_Rhythm & Listening Skills.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Guitar Production_Pedalboard Setups Explored.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Guitar Production_Pedals and Effects Explored.jpg">
			</div>
		</div>


		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Guitar Production_Pop Arranging Explored.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Jazz Improv Techniques.jpg">
			</div>
		</div>

		<div class="col-sm-1 col-md-4 col-lg-6">
			<div class="thumbnail">
				<img src="/img/Jazz Theory Explored.jpg">
			</div>
		</div>
	</div>

</div>

</div>





<% include partials/footer  %>